{% extends "main_layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label for="user" class="form-label"></label>
            <font color="lime">Username</font>
          <input type="text" name="text" class="form-control" id="user" aria-describedby="user">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"></label>
            <font color="lime">Password</font>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock %}