{% extends "main_layout.html" %}
{% block content %}
<style type="text/css">
  body {
    font-family: 'Noto Sans';
    padding: auto;
    text-align: left;
  }
  table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  tr {
    width: 5%;
    background-color: black;
  }
  td,th {
    border: 2px solid white;
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 5px%;
  }
  th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: darkcyan;
    color: gold;
  }
</style>
<table class="table-dark">
  <thead color="gold">
    <th><center><strong>CREATOR</strong></center></th>
  </thead>
  <tbody>
    <tr class="table-active">
      <td><center><strong>KRISNA RAMDHANI WANDAKUSUMAH</strong></center></td>
    </tr>
  </tbody>
</table>
<br>
<br>
<body>
  <table>
    <tr>
      <th><center>KETERANGAN</center></th>
    </tr>
    <tr>
      <td><center>Assalamualaikum Wr. Wb. Aplikasi Web Browser ini di design dan di buat oleh KRISNA RAMDHANI WANDAKUSUMAH, dalam rangka mempermudah untuk melihat daftar pegawai di Bappelitbangda, apabila ada kekurangan dan kekeliruan mohon maaf yang sebesar-besarnya, kritik dan saran atau untuk tambahan scrift bisa hubungi di whatsapp saya => 0895327299190, demikian dan terima kasih.</center></td>
    </tr>
    <tr>
      <td colspan="4" class="table-active">
        <div class="navbar-nav mr-auto">
          <center><a class="nav-item nav-link" href="whatsapp://send?text=Assalamualaikum&phone=+62895327299190"><input type="submit" class="btn btn-primary btn btn-outline-warning"
                  value=>Klik whatsapp</a></center>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="table-active">
        <div class="navbar-nav mr-auto">
          <center><a class="nav-item nav-link" href="{{ url_for('index') }}"><input type="submit" class="btn btn-primary btn btn-outline-warning"
                  value=>HOME</a></center>
        </div>
      </td>
    </tr>
  </table>
</body>
{% endblock %}