{% extends "main_layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control">1. HERRA HAERANI, S.Sos</label>
        </div>
        <div class="mb-3">
          <label class="form-control">NIP. 19730119 199901 2 001</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control">2. AI WIBAWA ZENAL</label>
        </div>
        <div class="mb-3">
          <label class="form-control">NIP. 19670225 200701 1 011</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control">3. KRISNA RAMDHANI WANDAKUSUMAH</label>
        </div>
        <div class="mb-3">
          <label class="form-control">NIP. 19810705 200901 1 007</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control">4. LUSSI LUSSIDIANA ISKANDAR, S.IP</label>
        </div>
        <div class="mb-3">
          <label class="form-control">NIP. 19820714 200801 2 007</label>
        </div>
    </form>
</div>
{% endblock %}