{% extends "main_layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>1. DEALIANI NUR PUTRI</strong></label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>2. AGUS SAEPUL BAHRI</strong></label>
        </div>
    </form>
</div>
<div>
  <form action="" method="POST">
      <div class="mb-3">
        <label class="form-control"><strong>3. HENDRI SUPRIADI</strong></label>
      </div>
  </form>
</div>
<div>
  <form action="" method="POST">
      <div class="mb-3">
        <label class="form-control"><strong>4. ROBBY BUSTOMI</strong></label>
      </div>
  </form>
</div>
<div class="navbar-nav mr-auto">
  <a class="nav-item nav-link" href="{{ url_for('index') }}"><input type="submit" class="btn btn-primary btn btn-outline-warning"
          value=>Kembali</a>
</div>
{% endblock %}