{% extends "main_layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>1. FAJAR GUMILAR, S.MB</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19721028 200501 1 012</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Kepala Sub Bagian Perencanaan Evaluasi dan Pelaporan </label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>2. IIS SUSANTI, SE</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19760614 200902 2 003</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Analis Perencanaan, Evaluasi dan Pelaporan</label>
        </div>
    </form>
</div>
<div class="navbar-nav mr-auto">
  <a class="nav-item nav-link" href="{{ url_for('index') }}"><input type="submit" class="btn btn-primary btn btn-outline-warning"
          value=>Kembali</a>
</div>
{% endblock %}