{% extends "main_layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control">1. FAJAR GUMILAR, S.MB</label>
        </div>
        <div class="mb-3">
          <label class="form-control">NIP. 19721028 200501 1 012</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control">2. IIS SUSANTI, SE</label>
        </div>
        <div class="mb-3">
          <label class="form-control">NIP. 19760614 200902 2 003</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control">3. MAMAN SURACHMAN, SE</label>
        </div>
        <div class="mb-3">
          <label class="form-control">NIP. 19760224 201001 1 002</label>
        </div>
    </form>
</div>
{% endblock %}