{% extends "main_layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>1. Hj. RIZKY KOMALASARI, ST</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19760122 200501 2 005</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Kepala Sub Bidang Infrastruktur dan Kewilayahan  </label>
        </div>
    </form>
</div>
<div>
  <form action="" method="POST">
      <div class="mb-3">
        <label class="form-control"><strong>2. ENA MARLIANA, ST</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19831228 201001 2 008</label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Analis Perencanaan  </label>
      </div>
  </form>
</div>
<div class="navbar-nav mr-auto">
  <a class="nav-item nav-link" href="{{ url_for('index') }}"><input type="submit" class="btn btn-primary btn btn-outline-warning"
          value=>Kembali</a>
</div>
{% endblock %}