{% extends "main_layout.html" %}
{% block content %}
<style type="text/css">
  body {
    font-family: 'Noto Sans';
    padding: auto;
    text-align: left;
  }
  table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  tr {
    width: 5%;
    background-color: black;
  }
  td,th {
    border: 2px solid white;
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 5px%;
  }
  th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: darkcyan;
    color: gold;
  }
</style>
<table class="table-dark">
  <thead color="gold">
    <th><center><strong>Kepala Sub Bidang Infrastruktur dan Kewilayahan</strong></center></th>
  </thead>
  <tbody>
    <tr class="table-active">
      <td><center><strong>Hj. RIZKY KOMALASARI, ST</strong></center></td>
    </tr>
    <tr class="table-active">
      <td><center><strong>NIP. 19760122 200501 2 005</strong></center></td>
    </tr>
  </tbody>
</table>
<br>
<body>
  <table>
    <tr>
      <th><center>NOMOR</center></th>
      <th><center>NAMA</center></th>
      <th><center>NIP</center></th>
      <th><center>JABATAN</center></th>
    </tr>
    <tr>
      <td><center>1</center></td>
      <td><strong>ENA MARLIANA, ST</strong></td>
      <td><center>19831228 201001 2 008</center></td>
      <td><center>Analis Perencanaan Infrastruktur dan Kewilayahan</center></td>
    </tr>
    <tr>
      <td colspan="4" class="table-active">
        <div class="navbar-nav mr-auto">
          <center><a class="nav-item nav-link" href="{{ url_for('index') }}"><input type="submit" class="btn btn-primary btn btn-outline-warning"
                  value=>HOME</a></center>
        </div>
      </td>
    </tr>
  </table>
</body>
{% endblock %}