{% extends "main_layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>1. SANDI JAELANI , S.STP.,M.Si</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19820909 200012 1 003</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Kepala Sub Bidang Pemerintahan pada Badan Perencanaan Pembangunan, Penelitian dan Pengembangan Daerah </label>
        </div>
    </form>
</div>
<div>
  <form action="" method="POST">
      <div class="mb-3">
        <label class="form-control"><strong>2. TESSA AGUSTINE R U, SE</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19790801 200312 2 005</label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Analis Perencana</label>
      </div>
  </form>
</div>
<div>
  <form action="" method="POST">
      <div class="mb-3">
        <label class="form-control"><strong>2. DAHLAN ANWAR, SE</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19850405 200501 1 003</label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Analis Perencana</label>
      </div>
  </form>
</div>
<div class="navbar-nav mr-auto">
  <a class="nav-item nav-link" href="{{ url_for('index') }}"><input type="submit" class="btn btn-primary btn btn-outline-warning"
          value=>Kembali</a>
</div>
{% endblock %}