{% extends "main_layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>1. DADANG M. ROMDON, ST</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19751015 200604 1 005</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Kepala Sub Bidang Perekonomian dan Sumber Daya Alam </label>
        </div>
    </form>
</div>
<div class="navbar-nav mr-auto">
  <a class="nav-item nav-link" href="{{ url_for('index') }}"><input type="submit" class="btn btn-primary btn btn-outline-warning"
          value=>Kembali</a>
</div>
{% endblock %}