{% extends "main_layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>1. WENDA KRISNAWAN, ST</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19781104 200501 1 008</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Kepala Sub Bidang Sosial, Ekonomi, Infrastruktur dan Kewilayahan </label>
        </div>
    </form>
</div>
<div>
  <form action="" method="POST">
      <div class="mb-3">
        <label class="form-control"><strong>2. MURSITO, SST .,MP</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19770925 198902 1 001</label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Analis Penelitian dan Pengembangan</label>
      </div>
  </form>
</div>
<div>
  <form action="" method="POST">
      <div class="mb-3">
        <label class="form-control"><strong>3. DEDEN DARWIN, S.Si., MP</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19670908 198902 1 001</label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Analis Penelitian dan Pengembangan </label>
      </div>
  </form>
</div>
<div>
  <form action="" method="POST">
      <div class="mb-3">
        <label class="form-control"><strong>4. VIOLA HAFIFAH, A.Md</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19821023 201001 2 001</label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Pengelola Penelitian </label>
      </div>
  </form>
</div>
<div class="navbar-nav mr-auto">
  <a class="nav-item nav-link" href="{{ url_for('index') }}"><input type="submit" class="btn btn-primary btn btn-outline-warning"
          value=>Kembali</a>
</div>
{% endblock %}