{% extends "main_layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>1. DADIH KURNIAWAN, S.IP</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19801216 200604 1 007</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Kasubid Pengendalian dan Evaluasi Pemerintahan</label>
        </div>
    </form>
</div>
<div>
  <form action="" method="POST">
      <div class="mb-3">
        <label class="form-control"><strong>2. TAUFIQ LUTHFI, SE</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19791204 200604 1 005</label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Analis Perencanaan, Evaluasi dan Pelaporan</label>
      </div>
  </form>
</div>
<div>
  <form action="" method="POST">
      <div class="mb-3">
        <label class="form-control"><strong>3. FERRY CARDIYANSAH, S.IP</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19800226 201001 1 002</label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Pengelola Program Kegiatan </label>
      </div>
  </form>
</div>
<div class="navbar-nav mr-auto">
  <a class="nav-item nav-link" href="{{ url_for('index') }}"><input type="submit" class="btn btn-primary btn btn-outline-warning"
          value=>Kembali</a>
</div>
{% endblock %}