{% extends "main_layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>1. YANYAN GARYANA, S.IP</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19710620 200501 1 004</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Kepala Sub Bidang Pemerintahan, Inovasi, dan Teknologi  </label>
        </div>
    </form>
</div>
<div>
  <form action="" method="POST">
      <div class="mb-3">
        <label class="form-control"><strong>2. MALA RACHMATIA, S.Sos., MPSc., MT</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19820720 200604 2 015</label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Analis Penelitian dan Pengembangann</label>
      </div>
  </form>
</div>
<div>
  <form action="" method="POST">
      <div class="mb-3">
        <label class="form-control"><strong>3. DAYAT HIDAYAT</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19651225 200701 1 006</label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Pengelola Penelitian </label>
      </div>
  </form>
</div>
<div>
  <form action="" method="POST">
      <div class="mb-3">
        <label class="form-control"><strong>4. SENI DEWI ANGGRIANI</strong></label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19740812 200901 2 004</label>
      </div>
      <div class="mb-3">
        <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Pengelola Data Kreatifitas dan Inovasi </label>
      </div>
  </form>
</div>
<div class="navbar-nav mr-auto">
  <a class="nav-item nav-link" href="{{ url_for('index') }}"><input type="submit" class="btn btn-primary btn btn-outline-warning"
          value=>Kembali</a>
</div>
{% endblock %}