{% extends "main_layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>1. INDAH NALI HATI, SP</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19690120 200801 2 005</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Kepala Sub Bagian Umum dan Kepegawaian </label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>2. YAYU SRI RAHAYU, SKM</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19820320 201101 2 002</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Analis Pengembangan Sumber Daya Manusia Aparatur</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>3. MAMAT SLAMET HUSNI, S.IP</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19680211 200901 1 002</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Pengadministrasi Persuratan</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>4. HENI INDRI AYANI, S.SI</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19860423 201503 2 003</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Analis Perencanaan</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>5. YULIANTI, S.IP</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19840702 201001 2 002</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Sekretaris Pribadi</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control"><strong>6. INA HARSABELA</strong></label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;NIP. 19811016 201001 2 002</label>
        </div>
        <div class="mb-3">
          <label class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;Pengelola Pemanfaatan Barang Milik Daerah</label>
        </div>
    </form>
</div>
<div class="navbar-nav mr-auto">
  <a class="nav-item nav-link" href="{{ url_for('index') }}"><input type="submit" class="btn btn-primary btn btn-outline-warning"
          value=>Kembali</a>
</div>
{% endblock %}