{% extends "main_layout.html" %}
{% block content %}
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control">1. INDAH NALI HATI, SP</label>
        </div>
        <div class="mb-3">
          <label class="form-control">NIP. 19690120 200801 2 005</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control">2. YAYU SRI RAHAYU, SKM</label>
        </div>
        <div class="mb-3">
          <label class="form-control">NIP. 19820320 201101 2 002</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control">3. MAMAT SLAMET HUSNI, S.IP</label>
        </div>
        <div class="mb-3">
          <label class="form-control">NIP. 19680211 200901 1 002</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control">4. HENI INDRI AYANI, S.SI</label>
        </div>
        <div class="mb-3">
          <label class="form-control">NIP. 19860423 201503 2 003</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control">5. YULIANTI, S.IP</label>
        </div>
        <div class="mb-3">
          <label class="form-control">NIP. 19840702 201001 2 002</label>
        </div>
    </form>
</div>
<div>
    <form action="" method="POST">
        <div class="mb-3">
          <label class="form-control">6. INA HARSABELA</label>
        </div>
        <div class="mb-3">
          <label class="form-control">NIP. 19811016 201001 2 002</label>
        </div>
    </form>
</div>
{% endblock %}